body {
    font-family: Bahnschrift;
    color: #f1eae3;
    background-color: #202020;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.600), rgba(0, 0, 0, 0.600)), url("dev_measurewall01a.png");
    background-size: 25%;
    text-shadow: 4px 0px 16px rgba(0, 0, 0, 0.308);
}
@font-face {
    font-family: 'Bahnschrift';
    src: url(bahnschrift.ttf);
}
.unselectable {
    user-select: none;
}
.affinity-downloadlink {
    color: #ffddb7;
    font-size: 3.5em;
    text-decoration: none;
    transition: 0.2s;
}
.affinity-downloadlink:hover {
    color: #f1eae3;
}
.affinity-downloadlink-disabled {
    color: #8f806e;
    font-size: 3.5em;
    text-decoration: none;
    transition: 0.2s;
}
.mapbase-image {
    width: 10%;
    height: 10%;
    margin-top: 4%;
}
